<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb Home</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
    <link rel="stylesheet" href="output.css">
</head>
<body>
      <h1 class="text-3xl font-bold text-red-500">Welcome to the airbnb Express Routers Styling with Tailwind CSS</h1>
      <a class="border rounded border-blue-500 text-black hover:bg-blue-500 m-4 hover:text-white p-1" href="/host/add-home">Add Home</a>
</body>
</html>